<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sweet Cake Paradise - Cửa hàng bánh sinh nhật trực tuyến"
    />
    <meta
      name="keywords"
      content="bánh sinh nhật, bánh tiramisu, bánh chocolate, đặt bánh online"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sweet Cake Paradise - Cửa hàng bánh sinh nhật</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Client/css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-sticky">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><i class="fas fa-birthday-cake"></i> Sweet Cake Paradise</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" asp-controller="Home" asp-action="Index">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Shop" asp-action="Index">Cửa hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="About">Về chúng tôi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="Contact">Liên hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" asp-controller="Auth" asp-action="Logout">
                <i class="fas fa-sign-out-alt"></i> Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    @RenderBody()
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <h5><i class="fas fa-birthday-cake"></i> Sweet Cake Paradise</h5>
            <p>
              Cửa hàng bánh sinh nhật trực tuyến hàng đầu Việt Nam. Chúng tôi
              cam kết mang đến những chiếc bánh tươi mới, chất lượng cao nhất.
            </p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <h6>Liên kết nhanh</h6>
            <ul class="footer-links">
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="shop.html">Cửa hàng</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-4">
            <h6>Thông tin cửa hàng</h6>
            <ul class="footer-links">
              <li>
                <i class="fas fa-map-marker-alt"></i> 123 Đường Lê Duân, Hà Nội
              </li>
              <li><i class="fas fa-phone"></i> 0123 456 789</li>
              <li><i class="fas fa-envelope"></i> info@sweetcake.vn</li>
              <li><i class="fas fa-clock"></i> 8:00 - 22:00 hàng ngày</li>
            </ul>
          </div>
          <div class="col-md-3 mb-4">
            <h6>Phương thức thanh toán</h6>
            <div class="payment-methods">
              <i class="fab fa-cc-visa"></i>
              <i class="fab fa-cc-mastercard"></i>
              <i class="fab fa-cc-paypal"></i> 
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2024 Sweet Cake Paradise. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/Client/js/main.js"></script>
    @RenderSection("Scripts", required: false)
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
  </body>
</html>
